<div class="subChoiceContainer">
  @if (showMethodOrb()) {
    <table class="subChoiceTable">
      <thead>
        <tr>
          <th>Method</th>
          @for (orb of orbitals; track orb) {
            <th>{{ orb }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (method of methods; track method) {
          <tr>
            <td class="method-label">{{ method === 'guerra' ? 'Guerra' : method === 'slater' ? 'Slater' : 'RDK' }}</td>
            @for (orb of orbitals; track orb) {
              <td>
                @if (hasOrbital(method, orb)) {
                  @if (isCheckbox()) {
                    <mat-checkbox
                      [checked]="isMethodOrbChecked(method, orb)"
                      (change)="onMethodOrbChange(method, orb, $event.checked)"
                    />
                  } @else {
                    <mat-radio-button
                      [name]="xOrY() + '-method-orb'"
                      [checked]="isMethodOrbChecked(method, orb)"
                      (change)="onMethodOrbChange(method, orb, true)"
                    />
                  }
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }

  @if (showIonization()) {
    <div class="inline-choice-row">
      @for (order of ionizationOrders; track order) {
        @if (isCheckbox()) {
          <mat-checkbox
            [checked]="isIonizationChecked(order)"
            (change)="onIonizationChange(order, $event.checked)"
          >{{ order }}</mat-checkbox>
        } @else {
          <mat-radio-button
            [name]="xOrY() + '-ionization'"
            [checked]="isIonizationChecked(order)"
            (change)="onIonizationChange(order, true)"
          >{{ order }}</mat-radio-button>
        }
      }
    </div>
  }

  @if (showElectroNeg()) {
    <div class="inline-choice-row">
      @if (isCheckbox()) {
        <mat-checkbox
          [checked]="isElectroNegChecked('to')"
          (change)="onElectroNegChange('to', $event.checked)"
        >Tantardini &amp; Oganov</mat-checkbox>
        <mat-checkbox
          [checked]="isElectroNegChecked('pauling')"
          (change)="onElectroNegChange('pauling', $event.checked)"
        >Pauling's</mat-checkbox>
      } @else {
        <mat-radio-button
          [name]="xOrY() + '-electroneg'"
          [checked]="isElectroNegChecked('to')"
          (change)="onElectroNegChange('to', true)"
        >Tantardini &amp; Oganov</mat-radio-button>
        <mat-radio-button
          [name]="xOrY() + '-electroneg'"
          [checked]="isElectroNegChecked('pauling')"
          (change)="onElectroNegChange('pauling', true)"
        >Pauling's</mat-radio-button>
      }
    </div>
  }

  @if (showAtomicRad()) {
    <div class="inline-choice-row">
      @for (method of atomicRadMethods; track method) {
        @if (isCheckbox()) {
          <mat-checkbox
            [checked]="isAtomicRadChecked(method)"
            (change)="onAtomicRadChange(method, $event.checked)"
          >{{ method }}</mat-checkbox>
        } @else {
          <mat-radio-button
            [name]="xOrY() + '-atomicrad'"
            [checked]="isAtomicRadChecked(method)"
            (change)="onAtomicRadChange(method, true)"
          >{{ method }}</mat-radio-button>
        }
      }
    </div>
  }
</div>
