.subChoiceContainer {
  margin-top: 8px;
  overflow-x: auto;
}

.subChoiceTable {
  border-collapse: collapse;
  font-size: 0.85rem;
}

.subChoiceTable th,
.subChoiceTable td {
  border: 1px solid #ccc;
  padding: 3px 5px;
  text-align: center;
}

.subChoiceTable th {
  background-color: #eee;
}
